.aboutSection {
    margin-left:10rem;
    font-style: normal;
    font-family: acumin-pro,sans-serif;
}

.about{
    font-size: 3.2rem;
    border-bottom: 10px solid #FF9F29;
    width:145px;
    font-weight: 700;
    margin-top: 13rem;
}

.aboutMe {
    width:50%;
    margin-top: 2rem;
    font-size: 1.1rem;
    line-height: 2;
    font-weight: 100;
    display: inline-block;
    color: rgb(162 161 166);
}

.profile {
    margin-top: 4%;
    float: right;
    height: 430px;
    width:390px;
    margin-right: 10%;
    border-radius: 10px;
}

@media (max-width:500px){
    .aboutSection{
        margin-left: 0;
    }
    .about{
        font-size: 6.6rem;
        margin: 13rem auto 0;
        width: 300px;
        
    }
    .profile{
       float:none;
       margin: 11% auto 0;
       height: 800px;
       width: 720px;
    }
    .aboutMe{
        font-size: 3.5rem;
        width:60%;
        margin-top: 7%;
        width: 90%;
        margin-left: 9%;
    }
}