.heading{
    font-size: 1.75rem;
    color: #FF9F29;
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.name{
    font-size: 5.5rem;
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 700;
    font-style: normal;
}



.introduction {
    margin:5rem auto;
    width: 70%;
    height:auto;
    
}

.explaination {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.work {
    margin-top: 1.5rem;
    color: white;
}