.heading{
    font-size: 1.75rem;
    color: #FF9F29;
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.name{
    font-size: 5.5rem;
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 700;
    font-style: normal;
}



.introduction {
    margin:5rem 11rem;
    width: 70%;
    height:auto;
    
}

.explaination {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: rgb(162 161 166);
}

.work {
    margin-top: 1.5rem;
    color: white;
}

@media (max-width:500px){

    .introduction{
    margin-top: 130px;
    margin-left: 60px;
    width: 90%;
}

.heading{
    font-size: 3.2rem;
}

.name{
    margin-top: 1%;
    font-size: 7.5rem;
}

.explaination{
    margin-top: 5%;
    font-size: 3.8rem;
}

.work{
    margin-top: 8%;
    width:16rem;
    height: 5rem;
    font-size: 1.60rem;
}
}