.heading{
    font-size: 1.75rem;
    color: #FF9F29;
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.name{
    font-size: 5.5rem;
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 700;
    font-style: normal;
}



.introduction {
    margin:6.2rem 11rem;
    width: 70%;
    height:auto;
    
}

.explaination {
    margin-top: 1rem;
    font-size: 1.7rem;
    color: rgb(162 161 166);
}

.work {
    margin-top: 1.5rem;
    color: white;
}

@media (max-width:500px){

    .introduction{
    margin-top: 280px;
    margin-left: 70px;
    width: 90%;
    margin-bottom: 35rem;
}

.heading{
    font-size: 3.7rem;
}

.name{
    margin-top: 3%;
    font-size: 7.9rem;
}

.explaination{
    margin-top: 12%;
    font-size: 4rem;
}

.work{
    margin-top: 16%;
    width:20rem;
    height: 7rem;
    font-size: 1.60rem;
}
}