.navbar {
    display:flex;
    justify-content: space-between;
}

.icon {
    color: #FF9F29;
}

.title span{
    font-size: 1.9rem;
    margin-top: 1.5rem;
    margin-left: 2.2rem;
    display: inline-block;
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 550;
    font-style: normal;
}

.options{
    margin-top: 1rem;
    display:flex;
    justify-content:space-around;
    font-family: acumin-pro-wide,sans-serif;
    font-weight: 550;
    font-style: normal;
}

.options div {
    margin-right: 2rem;
    font-size: 1.2rem;
    padding-top: 0.8rem;
}
.button{
    padding-top: 0;
    margin-top: 0;
    background-color: #FF9F29;
    cursor:pointer;
    color: aliceblue;
    width:6.8rem;
    height:3.5rem;
    text-align: center;
}
.button:hover{
    background-color: #FF8D29;
}

.options a{
    cursor: pointer;
    color: rgb(162 161 166);
}

.options a:hover{
    color: white;
}

.button a{
    color: white;
}

@media (max-width:500px){
.navbar{
    margin: 3% 4%;
}
}