.top{
    border-radius: 50px;
    width:55px;
    height:55px;
    background-color: orange;
    text-align: center;
    position: relative;
    left:94%;
    position: fixed;
    top:88%;
    cursor: pointer;
    animation: show 1s;
}

@keyframes show{
    0%{
        transform: translateY(20%);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.top span{
    font-size: 2.2rem;
}